NET "TxD" LOC = b5;
NET "clk" LOC = B8;
NET "data1[10]" LOC = P4;
NET "data1[11]" LOC = G1;
NET "data1[4]" LOC = M5;
NET "data1[5]" LOC = M11;
NET "data1[6]" LOC = P7;
NET "data1[7]" LOC = P6;
NET "data1[8]" LOC = N5;
NET "data1[9]" LOC = N4;
NET "ncs" LOC = C12;
NET "rst" LOC = P11;
NET "sclk" LOC = D12;
NET "sdata1" LOC = A13;
NET "sdata2" LOC = C13;
NET "Pulse1_in" LOC = C9;
NET "Pulse2_in" LOC = A10;
NET "Pulse2_in" CLOCK_DEDICATED_ROUTE = FALSE;