NET "mclk"     LOC = B8; 
NET "pdb[7]"   LOC = H3; 
NET "pdb[6]"   LOC = H1;
NET "pdb[5]"   LOC = H2;
NET "pdb[4]"   LOC = L2;
NET "pdb[3]"   LOC = L1;
NET "pdb[2]"   LOC = M1;
NET "pdb[1]"   LOC = M2;
NET "pdb[0]"   LOC = N2;
NET "astb"     LOC = F2;
NET "dstb"     LOC = F1;
NET "pwr"      LOC = C2;
NET "pwait"    LOC = D2;
NET "rgLed[7]" LOC = G1;
NET "rgLed[6]" LOC = P4;
NET "rgLed[5]" LOC = N4;
NET "rgLed[4]" LOC = N5; 
NET "rgLed[3]" LOC = P6;
NET "rgLed[2]" LOC = P7;
NET "rgLed[1]" LOC = M11;
NET "rgLed[0]" LOC = M5;
NET "rgSwt[7]" LOC = N3;
NET "rgSwt[6]" LOC = E2;
NET "rgSwt[5]" LOC = F3;
NET "rgSwt[4]" LOC = G3;
NET "rgSwt[3]" LOC = B4;
NET "rgSwt[2]" LOC = K3;
NET "rgSwt[1]" LOC = L3;
NET "rgSwt[0]" LOC = P11;
NET "rgBtn[3]" LOC = A7;
NET "rgBtn[2]" LOC = M4;
NET "rgBtn[1]" LOC = C11;
NET "rgBtn[0]" LOC = G12;

